#root {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
}

.header-layout {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
}

.score-section {
    display: flex;
    flex-direction: column;
}

.description {
    text-align: left;
}